<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
	<head><title>API列表</title></head>
	<body>
    <p><a href="/test_create_customer_raw_data">1 测试创建客户原始表</a></p>
    <p><a href="/test_upload">2 测试上传数据到客户原始结构表</a></p>
    <p><a href="/test_request_task_progress">3 测试查询任务执行进度</a></p>
    <p><a href="/test_transform_to_inner_format">4 测试转换客户格式到内部格式</a></p>
    <p><a href="/test_compute_raw_data_stat">5 测试计算原始数据的统计信息</a></p>
    <p><a href="/test_get_raw_data_stat">6 测试拉取原始数据的统计信息</a></p>
    <p><a href="/test_compute_people_distribution">7 测试计算人基于数据量的分布</a></p>
    <p><a href="/test_get_people_distribution">8 测试拉取人基于数据量的分布</a></p>
    <p><a href="/test_compute_base_station_info">9 测试计算基站信息</a></p>
    <p><a href="/test_download_base_station_info">10 测试下载基站信息</a></p>
    <p><a href="/test_get_base_station_info">11 测试获得基站信息本地位置</a></p>
    <p><a href="/test_filter_data_with_range">12 测试使用人基于数据量的分布过滤数据</a></p>
    <p><a href="/test_compute_filtered_data_stat">13 测试计算过滤数据的统计信息</a></p>
    <p><a href="/test_get_filtered_data_stat">14 测试拉取过滤数据的统计信息</a></p>
    <p><a href="/test_compute_base_station_hour_summary">15 测试计算小时粒度基站热度</a></p>
    <p><a href="/test_download_base_station_hour_summary">16 测试下载基站小时粒度热度</a></p>
    <p><a href="/test_get_base_station_hour_summary">17 测试获取小时粒度基站热度本地位置</a></p>
    <p><a href="/test_compute_uuid_cell_hour">18 测试计算人的时空信息表</a></p>
    <p><a href="/test_get_uuid_cell_hour">19 测试获取人的时空信息表</a></p>
     <p><a href="/test_delete_all_tables">20 删除所有ODPS表</a></p>
    <hr>
    <div style="background-color:gray;">
    <p>测试</p>
    <p><a href="/test_compute_peo_roam">30 计算人的漫游情况</a></p>
    <p><a href="/test_compute_peo_type">31 计算人类型</a></p>
    <p><a href="/test_compute_uuid_od">32 计算OD</a></p>
        <p><a href="/test_upload_area_station">33 上传CellArea数据</a></p>
    <p><a href="/test_compute_business_data">34 计算业务数据</a></p>
    <p><a href="/test_download_business_data">35 下载业务数据</a></p>

    </div>
    <hr>
	</body>
</html>
