<!DOCTYPE html>
<html>
	<head><title>API列表</title></head>
	<body>
    <p><a href="/test_create_customer_raw_data">1 测试创建客户原始</a></p>
    <p><a href="/test_upload">2 测试上传数据到客户原始结构表</a></p>
    <p><a href="/test_request_task_progress">3 测试查询任务执行进度</a></p>
    <p><a href="/test_transform_to_inner_format">4 测试转换客户格式到内部格式</a></p>
    <p><a href="/test_compute_people_distribution">5 测试计算人基于数据量的分布</a></p>
    <p><a href="/test_get_people_distribution">6 测试拉取人基于数据量的分布</a></p>
    <p><a href="/test_compute_raw_data_stat">7 计算原始数据的统计信息</a></p>
    <p><a href="/test_get_raw_data_stat">8 拉取原始数据的统计信息</a></p>
    <p><a href="/test_filter_data_with_range">9 使用人基于数据量的分布过滤数据</a></p>
    <p><a href="/test_compute_filtered_data_stat">10 计算过滤数据的统计信息</a></p>
    <p><a href="/test_get_filtered_data_stat">11 拉取过滤数据的统计信息</a></p>
		</form>
	</body>
</html>
