<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
	<head><title>测试创建客户原始数据表</title></head>
  <div class="form-style-6">
	<body>
		<h1>输入参数</h1>
    <table>
      <tr>
        <th>合法字段类型</th>
      </tr>
      <tr>
        <td>bigint</td>
      </tr>
      <tr>
        <td>double</td> 
      </tr>
      <tr>
        <td>string</td> 
      </tr>
      <tr>
        <td>datetime</td> 
      </tr>
      <tr>
        <td>boolean</td> 
      </tr>
    </table>
    <table>
      <tr>
        <th>有效字段名称</th>
        <th>描述</th>
      </tr>
      <tr>
        <td>uuid</td>
        <td>用户唯一标识</td>
      </tr>
      <tr>
        <td>time</td> 
        <td>日志时间</td> 
      </tr>
      <tr>
        <td>lon</td> 
        <td>经度</td> 
      </tr>
      <tr>
        <td>lat</td> 
        <td>纬度</td> 
      </tr>
      <tr>
        <td>cell_id</td> 
        <td>基站id</td> 
      </tr>
      <tr>
        <td>cell_name</td> 
        <td>基站名称</td> 
      </tr>
      <tr>
        <td>is_roam</td> 
        <td>是否漫游</td> 
      </tr>
      <tr>
        <td>in_room</td> 
        <td>是否在室内</td> 
      </tr>
      <tr>
        <td>call_in</td> 
        <td>拨入号码</td> 
      </tr>
      <tr>
        <td>call_out</td> 
        <td>拨出号码</td> 
      </tr>
    </table>
		<form method="post" action="/create_customer_raw_data">
		<p>字段列表<br><input type="text" name="fields"></p>
		<p>项目id<br><input type="text" name="project_id"></p>
		<input type="submit">
		</form>
	</body>
  </div>
</html>
